# DataMadness Scraping
We will use a program called yFinance in order to scrape data from yahoo Finance.

In [2]:
import yfinance as yf
import pandas as pd
COMPANIES = ['TM','BUD','HYMTF','KO','KIMTF','PEP']
all_data = pd.DataFrame()
for NAME in COMPANIES:
    stock = yf.Ticker(NAME)
    df = stock.history(start="2000-01-01",end="2021-01-01",interval="1mo")
    df = df.dropna()
    df = df.drop(['Dividends','Stock Splits'],axis=1)
    avg_price = (df['Low'] + df['High']) / 2
    df['avg_price'] = avg_price
    out = df[['Volume', 'avg_price']]
    all_data[NAME] = out['avg_price']
    out.to_csv(r'../DataMadness/DataSets/monthly_{}.csv'.format(NAME))
all_data.to_csv(r'../DataMadness/DataSets/All_Companies.csv')

In [46]:
import datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
dates = pd.read_csv('DataSets/Dates.csv')
dates['Date'] = pd.to_datetime(dates['Date'])

tmp = []
for year in dates['Year']:
    tmp.append(all_data.loc[''.join((str(year),'-02-01'))]-all_data.loc[''.join((str(year),'-01-01'))])

data = pd.DataFrame(tmp)
data

           TM        BUD     HYMTF        KO     KIMTF        PEP
0    2.595830        NaN       NaN -3.819183       NaN  -1.806183
1    4.923669        NaN       NaN -2.780090       NaN  -1.329734
2    2.060956        NaN       NaN  1.136054       NaN   1.012728
3   -3.517020        NaN       NaN -0.857207       NaN  -1.519111
4    2.306189        NaN       NaN -0.218303       NaN   3.450902
5   -2.274487        NaN       NaN  0.337806       NaN   0.108706
6    2.687965        NaN       NaN  0.503495       NaN   0.755313
7   -0.948208        NaN       NaN -0.358122       NaN  -0.534009
8    2.804343        NaN       NaN -0.567512       NaN  -1.960651
9   -2.287131        NaN       NaN -0.837601       NaN  -0.736579
10  -5.524726  -0.154379  1.325000 -0.525008       NaN   2.665604
11   2.792339  -0.589850 -0.120000  0.067235       NaN  -1.541171
12  10.857011   6.941905  0.750000  1.048922       NaN  -0.615724
13   6.870461   5.701531  1.275000  1.830021  0.000000   5.366775
14  -6.283593   2.338151 -0.405001 -0.818700  0.000000  -0.400417
15  12.112902   7.271720 -6.055000 -0.826942  0.000000  -0.166408
16  -7.743776  -0.452339  3.240000  2.542343  0.000000   3.378001
17  -6.534996   3.402279  2.615002  0.651885 -9.700001   6.408337
18  -5.070004  -2.078158 -5.635000 -2.973717  0.000000  -8.630804
19  -0.920002  11.009528 -3.745000 -1.668411  0.000000   9.242941
20 -20.134991 -33.359596 -9.250000 -8.582430  0.000000 -16.614298

**Note:** Dropped E-Trade and NFL since they do not have valid stock information listed on Yahoo Finance.